<form [formGroup]="employeeForm">
  <div class="grid">
    <div style="margin-top: 15px;" class="form-group col-3 offset-5">
      <div class="image-upload">
        <label for="file-input">
          <img *ngIf="!image"  [src]="employeeServiceService.selected_employee?employeeServiceService.selected_employee.picture:'https://icons.iconarchive.com/icons/dtafalonso/android-lollipop/128/Downloads-icon.png'" />
          <img  *ngIf="image" [src]="image" />
        </label>

        <input (change)="handleFileInput($event)" id="file-input" formControlName="picture" type="file" ref="file"
          accept=".png, .jpg, .jpeg">
      </div>
    </div>
    <div class="form-group col-8 offset-2">
      <label for="firstName"> firstName</label>
      <input type="text" formControlName="firstName" class="form-control" id="firstName"
        placeholder="Employee firstName">
    </div>
    <div class="form-group col-8 offset-2">
      <label for="lastName">lastName</label>
      <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="lastName">
    </div>
  
    <!-- <div class="form-group col-8 offset-2">
      <label for="dateOfEntry">dateOfEntry</label>
      <input type="date" formControlName="dateOfEntry" class="form-control" id="dateOfEntry" placeholder="dateOfEntry">
    </div> -->
    <div class="form-group col-8 offset-2">
      <label for="entrepriseAddress">entrepriseAddress</label>
      <input type="text" formControlName="entrepriseAddress" class="form-control" id="entrepriseAddress"
        placeholder="entrepriseAddress">
    </div>
    <div class="form-group col-8 offset-2">
      <label for="entrepriseName">entrepriseName</label>
      <input type="text" formControlName="entrepriseName" class="form-control" id="entrepriseName"
        placeholder="entrepriseName">
    </div>
    <button [disabled]="!employeeForm.valid" class="btn btn-primary col-4 offset-4 mt-2"
      (click)="addEmployee()">{{employeeServiceService.selected_employee?'edit':'add'}}</button>
  </div>




</form>