<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
      <a routerLink="/"  class="navbar-brand" href="#">
        <h1>Inetum</h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/add" >Add Employee</a>
          </li>
         
         
          </ul>
       
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>